

@if (showform) {
    <div class="login-div">
    
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="login-form">
        <h2>Login</h2>
    <div class="form-field">
        <label for="username">Username: </label>
        <input type="text"  id="username" formControlName="username" placeholder="Enter your username...">
    </div>
    
    <div class="form-field">
        <label for="password">Password: </label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password...">
    </div>

    <button type="submit" [disabled]="userForm.invalid">Login</button>

    @if(feedBackExists){<p class="feedback">{{ errorMessage }}</p>}
</form>
</div>

}@else {
    <p class="redirect">Redirecting...</p>
}
